@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,a,span{
  font-family: "Raleway", sans-serif;
}
p, li{
  font-family: "Open Sans", sans-serif;
}
:root {
  --letter:#45505b;
  --navigationbody:  white;
  --mainbody: white;
  --herobackground: rgba(255, 255, 255, 0.8);
  --activehover: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  --navlinkbackground: rgb(242,243,245);
  --navlinkcolor: rgb(69,80,91);
  --herocolor: hsl(136, 65%, 51%);
  --herospan: hsl(192, 70%, 51%);
  --text: #45505b;
  --social: #45505b;
  --sectionbackground: white;
  --navshadow: 0px 4px 4px rgb(222, 225, 232);
  --inputborder: rgb(206,212,218);
  --border: hsl(136, 65%, 51%);
  --serviceshadow: 0px 5px 10px #d4d4d4, 0px 2px 2px #d4d4d4, 0px 2px 2px #d4d4d4, 0px 2px 2px #d4d4d4;
  --para: black;
}

.light-mode{
  --letter:#45505b;
  --navigationbody:  white;
  --mainbody: white;
  --herobackground: rgba(255, 255, 255, 0.8);
  --activehover: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  --navlinkbackground: rgb(242,243,245);
  --navlinkcolor: rgb(69,80,91);
  --herocolor: hsl(136, 65%, 51%);
  --herospan: hsl(192, 70%, 51%);
  --text: #45505b;
  --social: #45505b;
  --sectionbackground: white;
  --navshadow: 0px 4px 4px rgb(222, 225, 232);
  --inputborder: rgb(206,212,218);
  --border: hsl(136, 65%, 51%);
  --serviceshadow: 0px 5px 10px #d4d4d4, 0px 2px 2px #d4d4d4, 0px 2px 2px #d4d4d4, 0px 2px 2px #d4d4d4;
  --para: black;
}
.dark-mode{
  --letter:rgb(219, 219, 219);
  --navigationbody: black;
  --mainbody: black;
  --herobackground: rgba(5, 13, 24, 0.3);
  /* --activehover: #5938FC; */
  --activehover: blue;
  --navlinkbackground: rgb(32,33,35);
  --navlinkcolor: white;
  /* --herocolor: #5938FC; */
  --herocolor: blue;
  --herospan: blue;
  /* --herospan: #5938FC; */
  --text: white;
  --social: #45505b;
  --sectionbackground: black;
  --navshadow: 0px 4px 4px rgb(222, 225, 232);
  --inputborder: black;
  --border: hsl(192, 70%, 51%);
  --serviceshadow: 0px 5px 10px black, 0px 2px 2px black, 0px 2px 2px black, 0px 2px 2px black;
  --para: white;
}

/* .dark-mode{
  --letter:rgb(219, 219, 219);
  --navigationbody: black;
  --mainbody: white;
  --herobackground: rgba(5, 13, 24, 0.3);
  --activehover: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  --navlinkbackground: rgb(32,33,35);
  --navlinkcolor: white;
  --herocolor: hsl(136, 65%, 51%);
  --herospan: hsl(192, 70%, 51%);
  --text: white;
  --social: #45505b;
  --sectionbackground: black;
  --navshadow: 0px 4px 4px rgb(222, 225, 232);
  --hover: #272829;
} */

/* .dark-mode{
  --navigationbody:  rgb(32,33,35);
  --mainbody: rgb(32,33,35);
  --herobackground: rgba(5, 13, 24, 0.3);
  --activehover: linear-gradient(to right, hsl(206, 48%, 27%), hsl(229, 64%, 46%));
  --navlinkbackground: rgba(9, 13, 18, 0.3);
  --navlinkcolor: white;
  --herocolor:   hsl(229, 64%, 46%);
  --herospan:  hsl(229, 64%, 46%);
  --text: rgb(219, 219, 219);
  --letter: white;
  --social: rgb(69,80,91);
  --sectionbackground: rgb(32,33,35);
  --navshadow: black;
  --hover: hsl(136, 65%, 51%);

} */
.cv{
  text-decoration: none;
  padding: 12px 25px;
  background: var(--activehover);
  border-radius: 20px;
  color: white;
  border-left: 1px solid var(--herocolor);
  border-top: 1px solid var(--herocolor);
  border-bottom: 1px solid  var(--herospan);
  border-right: 1px solid  var(--herospan);
  transition: all .5s ease;
  box-shadow: 0px 4px 3px rgba(0,0,0,0.3);
}
.cv:hover{
  background: transparent;
  border-left: 1px solid var(--herocolor);
  border-top: 1px solid var(--herocolor);
  border-bottom: 1px solid  var(--herospan);
  border-right: 1px solid  var(--herospan);
  color: var(--text);
}
.hire{
  text-decoration: none;
  padding: 12px 25px;
  background-color: transparent;
  border-left: 1px solid var(--herocolor);
  border-top: 1px solid var(--herocolor);
  border-bottom: 1px solid  var(--herospan);
  border-right: 1px solid  var(--herospan);
  border-radius: 20px;
  color: var(--text);
  transition: all 1s ease;
  box-shadow: 0px 4px 3px rgba(0,0,0,0.3);
}
.hire:hover{
  background: var(--activehover);
  color: white;
}
section {
  overflow: hidden;
}
.section-title {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--herocolor);
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 150px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(48% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--activehover);
  bottom: 0;
  left: calc(48% - 13px);
  animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 40px;
    }
    50%{
        width: 80px;
    }
    100%{
        width: 40px;
    }
}

.section-title p {
  margin-bottom: 0;
  color: var(--text);
}
@media (min-width: 992px) {
  section{
    padding-left: 160px;
  }
}


